<div id="banner3"></div>
<div class="container offset">
  <div class="flexboxwrap">
    <div class="realcard">
      <h3> <%= image_tag 'before.svg', class:'homeicon' %> <br><br>Avant</h3>
      <p>le démarrage d’un chantier demande rigueur, méthode et organisation. L’installation doit respecter les normes de sécurité et est soumise à autorisation administrative pour limiter les perturbations de la voierie et du voisinage.</p>
    </div>
    <%= image_tag 'arrow.svg', class:'homeicon' %>
    <div class="realcard">
      <h3> <%= image_tag 'time.svg', class:'homeicon' %> <br><br>Pendant</h3>
      <p>l’avancée des travaux doit respecter le planning en tenant compte des contraintes météorologiques. La mise en place de toutes les protections nécessaires du chantier rend pérenne la rénovation.</p>
    </div>
    <%= image_tag 'arrow.svg', class:'homeicon' %>
    <div class="realcard">
      <h3> <%= image_tag 'after.svg', class:'homeicon' %> <br><br>Après</h3>
      <p>à la fin des travaux, les installations sont démontées avec le même soin. Un nettoyage de fin de chantier est effectué et la réception est organisée avec les différents intervenants.</p>
    </div>
  </div>
  <h1>Nos Réalisations</h1>
  <div class="dividercenter"></div>
  <h3>La qualité des travaux réalisés repose sur la combinaison de plusieurs facteurs :</h3>
  <p>Qualité du savoir-faire.    -    Compétence des ouvriers.    -    Performance de la coordination   -    Respect des engagements pris.</p>
  <br>
  <!-- Slider before after  -->
  <div class="slider-d">
    <figure class="cd-image-container">
      <%= image_tag 'img-original.jpg', label:'image avant', class:'sliderimage' %>
      <span class="cd-image-label" data-type="original">Avant</span>

      <div class="cd-resize-img"> <!-- the resizable image on top -->
        <%= image_tag 'img-modified.jpg', label:'image après', class:'sliderimage' %>
        <span class="cd-image-label" data-type="modified">Après</span>
     </div>

     <span class="cd-handle"></span> <!-- slider handle -->
    </figure> <!-- cd-image-container -->
  </div>
  <br>
  <%= link_to "https://res.cloudinary.com/ddeqhkybg/image/upload/v1588856141/Bourdiec06/banniere.png", class:"button2 btn", data: { lightbox: 'chantier1'} do %>
    <span><%= t(:photos) %></span>
    <svg>
      <polyline class="o1" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
      <polyline class="o2" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
    </svg>
  <% end %>
</div>

<div hidden>
  <!-- Chantier de ref 1  -->
  <a href="https://res.cloudinary.com/ddeqhkybg/image/upload/v1588856137/Bourdiec06/toiture2.jpg" data-lightbox="chantier1"></a>
  <a href="https://res.cloudinary.com/ddeqhkybg/image/upload/v1588856152/Bourdiec06/banniere.png" data-lightbox="chantier1"></a>
  <!-- Chantier de ref 2...  -->
</div>
