<div class="navspace"></div>
<div id="banner2"></div>
<div class="container offset">
  <div class="flexboxwrap stretch">
    <div class="servicescard">
      <h3><%= image_tag 'support.svg', class:'icon2' %> <br><br>Nos Services</h3>
      <ul>
        <li>Diagnostic : (toiture – façade - infiltration - vrd)</li><br>
        <li>Aide aux démarches administratives (autorisations et subventions)</li><br>
        <li>Recherche de matériaux anciens et de teintes.</li><br>
        <li>Intervention d’urgence sur sinistres – bâchage de toiture</li>
      </ul>
    </div>
    <div class="servicescard">
      <h3><%= image_tag 'guarantee.svg', class:'icon2' %> <br><br>Nos Garanties</h3>
      <ul>
        <li>Respect des engagements : Rapidité de réponse, devis et délais</li><br>
        <li>Garantie décennale et responsabilité civile</li><br>
        <li>Garantie Artisanale de la chambre des métiers</li>
      </ul>
    </div>
  </div>
  <h1>Nos Savoir-Faire</h1>
  <div class="dividercenter"></div>
  <div class="flexboxwrap">
    <div class="textcard">
      <h3>Techniques de ravalement de façades :</h3>
      <p>décroutage jusqu’à la pierre - dépoussiérage - lavage - réparation des fissures - nettoyage - application de l’enduit à la chaux et finition - peinture et décors.</p>
    </div>
    <%= image_tag 'savoir1.jpg', class:'imgcard' %>
  </div>
  <div class="dividercenter"></div>
  <div class="flexboxwrap">
    <div class="textcard">
      <h3>Maçonnerie : </h3>
      <p>réfection et transformation : chape, revêtements de sol et carrelages - cloisons et doublage, revêtements muraux et faïences - pose d’IPN, faux plafonds - VRD (canalisations) - pose de clôtures.</p>
    </div>
    <%= image_tag 'NosServices.jpg', class:'imgcard' %>
  </div>
  <div class="dividercenter"></div>
  <div class="flexboxwrap">
    <div class="textcard">
      <h3>Peinture extérieure et décors de façades :</h3>
      <p>fresques - frises - bas reliefs - balustres - motifs en trompe l’œil et création de décors.</p>
      <h3>Peinture intérieure : </h3>
      <p>traditionnelle ou décorative : à la chaux - finitions modernes</p>
    </div>
    <%= image_tag 'savoir1.jpg', class:'imgcard' %>
  </div>
  <div class="dividercenter"></div>
  <div class="flexboxwrap">
    <div class="textcard">
      <h3>Techniques de réfection de Toitures :</h3>
      <p>réparation partielle ou dépose complète de toiture avec traitement ou remplacement des bois de charpente - pose d’isolation thermique et d’écrans sous toiture - pose des tuiles - intervention sur tabatières, velux, chien assis et cheminées.</p>
    </div>
    <%= image_tag 'NosServices.jpg', class:'imgcard' %>
  </div>
  <br>
</div>
